# Node modules
node_modules
npm-debug.log

# Build artifacts
build

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
*.log
